{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>publicado: {{ post.published_date }}</p>
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.title }} </a></h2>
            <p> {{ post.text|linebreaksbr }} </p>
        </div>
    {% endfor %}
    <!-- <div>
        <!-- <img src="home/alurquiza/Downloads/Telegram Desktop/tuna_programators.jpg">
        <img src="C360_2018-03-09-20-44-38-078.jpg" alt="" />
    </div>        -->
{% endblock %}
